:root {
  --primary-color: #8e4ace;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #db3748;
  --info-color: #91d3ff;
  --success-color: #51cc6d;
  --success-border-color: #44a35a;
}

.navbar {
  width: 100vw;
  display: flex;
}

.header {
  padding-left: 3%;
}

.todos-container {
  margin: auto;
  width: 90%;
  border: 1px solid lightsalmon;
}
.create-new {
  margin: auto 0 auto 60%;
  height: 50%;
}
.card-modal {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.alert {
  padding: 0.7rem;
  width: 95%;
  margin: 1rem auto;
  opacity: 0.9;
  border: 1px solid var(--success-border-color);
  background: var(--success-color);
  color: #333;
}

.alert-success {
  background: var(--success-color);
}

.alert-info {
  background: var(--info-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  padding-left: 2%;
  z-index: 1;
  width: 95%;
  opacity: 0.9;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.create-form {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}
