:root {
  --primary-color: #8e4ace;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.navbar {
  width: 100vw;
  display: flex;
}

.header {
  padding-left: 3%;
}

.todos-container {
  margin: auto;
  width: 90%;
  border: 1px solid lightsalmon;
}
.create-new {
  margin: auto 0 auto 60%;
  height: 50%;
}
.card-modal {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
